<h1>
  appseven
</h1>
<!-- if show_one is false -->
<h2 *ngIf="show_one">
  if block printed as show one is true
</h2>  
<!-- if show_two is false -->
<h2 *ngIf="show_two">
  if block printed as show two is true
</h2>  
<br>
<br>

<h2 *ngIf="show_one else elseblock">
  if block printed as show one is true
</h2> 

<ng-template #elseblock>
  <h2>
    else block printed as show one is false and else statement is working
  </h2>
</ng-template>

<br>
<br>

<h2 *ngIf="show_one=='YES' else elseblock">
  if block printed as SHOW 0NE IS HAVING STRING VALUE SAME
</h2> 

<br>
<br>
<h1 *ngIf="choose=='magma' then ifblock else elseblock"></h1>

<ng-template #ifblock>
  <h1>if block as choose is valuing magma</h1>
</ng-template>
<ng-template #elseblock>
  <h1>else block as choose is something else</h1>
</ng-template>
<br>
<br>

<!-- property binding with if else condition -->
<ng-template [ngIf]="color=='red'">
  <h1>ng-template with red color</h1>
</ng-template>
<ng-template [ngIf]="color=='blue'">
  <h1>ng-template with blue color</h1>
</ng-template>
<ng-template [ngIf]="color=='orange'">
  <h1>ng-template with orange color</h1>
</ng-template>